<div class="ard bg-base-100 w-full max-w-sm shrink-0 shadow-2xl p-4 rounded mx-auto">
    <h2 class="text-xl font-semibold mb-4">{{isEdit ? 'Editar' : 'Nuevo'}} Producto</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label class="label">Nombre</label>
            <input [(ngModel)]="model.name" name="name" required class="input" />
        </div>
        <div class="mb-2">
            <label class="label">Descripción</label>
            <input [(ngModel)]="model.description" name="description" class="input" />
        </div>
        <div class="mb-2">
            <label class="label">Precio</label>
            <input type="number" step="0.01" [(ngModel)]="model.price" name="price" required class="input" />
        </div>
        <div class="mb-4">
            <label class="label">Stock</label>
            <input type="number" [(ngModel)]="model.stock" name="stock" required class="input" />
        </div>
        <div class="flex justify-end">
            <button class="btn btn-primary" type="submit">{{isEdit ? 'Actualizar' :
                'Crear'}}</button>
        </div>
    </form>
</div>