<div class="p-4 rounded shadow">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Productos</h2>
        <div>
            <button class="btn btn-secondary mr-3" (click)="reload()">Recargar</button>
            <a routerLink="/products/new" class="btn btn-primary">Nuevo</a>
        </div>
    </div>
    <div class="p-9">
        <table class="table bg-base-200 p-3">
            <thead>
                <tr>
                    <th class="p-2">Nombre</th>
                    <th class="p-2">Precio</th>
                    <th class="p-2">Stock</th>
                    <th class="p-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products()">
                    <td class="p-2">{{p.name}}</td>
                    <td class="p-2">{{p.price | currency}}</td>
                    <td class="p-2">{{p.stock}}</td>
                    <td class="p-2">
                        <button class="btn btn-soft btn-info mr-2"
                            (click)="edit(p)">Editar</button>
                        <button class="btn btn-soft btn-error mr-2" (click)="remove(p)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>