spring:
  application:
    name: store
  datasource:
    url: jdbc:postgresql://localhost:5432/storedb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
server:
  port: 8080

security:
  jwt:
    secret: ReplaceThisWithAStrongSecretKeyOfAtLeast32Chars!
    expiration-ms: 3600000